In [1]:
#question 1
data = [
    ('Sachin Tendulkar', 34357),
    ('Ricky Ponting', 27483),
    ('Jack Kallis', 25534),
    ('Virat Kohli', 24936)
]


sorted_data = sorted(data, key=lambda x: x[1])


for item in sorted_data:
    print(item)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [5]:
#question 2
num=[1,2,3,4,5,6,7,8,9,10]

square=list(map(lambda x:x**2, num))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#question 3
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

string_tuple = tuple(map(lambda x: str(x), numbers))

print("Original List:", numbers)
print("Tuple of Strings:", string_tuple)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tuple of Strings: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [8]:
#question 4
from functools import reduce
numbers = list(range(1, 26))
product = reduce(lambda x, y: x * y, numbers)
print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

In [9]:
#question 5
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print("Numbers divisible by 2 and 3:", filtered_numbers)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

In [11]:
#question 6
values=['python', 'php', 'aba', 'radar', 'level']
palindromes = list(filter(lambda s: s == s[::-1], values))
print(palindromes)

['php', 'aba', 'radar', 'level']